.block-container{
    padding-top:2rem;
    padding-bottom:2rem;
    max-width:1400px;
}

div[data-testid="stFileUploader"]{
    border:2px dashed #4F46E5;
    border-radius:12px;
    padding:20px;
}

div[data-testid="metric-container"]{
    border-radius:10px;
    border:1px solid #DDD;
    padding:15px;
}